<% provide(:title, 'About Us') %>
<h1>About Us</h1>
<p>
This is the project two for the course CS369.
It is created by us with Rails.
For more details, please visit <a href="https://github.com/Jacky-ZHAO/project2"> Github page</a>.
</p>
